.bigCounter {
    margin: 0;
    text-align: center;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigCounter div {
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    background-color: grey;
    color: white;
    padding: 10px;
    margin:5px
}
